@inherits LayoutComponentBase
@using MudBlazor

<MudThemeProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<div class="page">
    <main>
        <MudAppBar Color="Color.Primary" Dense Fixed="false" Elevation="0">
            <MudText Typo="Typo.h5">API Tester</MudText>
        </MudAppBar>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
